button{
    color: rgb(67, 39, 224);
    display: block;
    margin: auto;
}
button:hover {
    background-color: #d339cb; 
    color: white;
    border-radius: 5px;
}
img{
    
    display: block;
    margin: auto;
    border-radius: 5px;
}
.name{
    color: rgb(141, 74, 89);
    text-align: center;
}
.p{
    color: rgb(211, 65, 16);
    text-align: center;
}